@use '../../../../styles/mixins' as m;

.board-column{
    @include m.floating-panel;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 8rem);
    min-height: 13rem;
    width: 16rem;

    &__header{
        @include m.flex-center;
        padding: .5rem .3rem;
        gap: .5rem;
    }

    &__dot{
        width: .4375rem;
        height: .4375rem;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__title{
        color: var(--text-primary);
        font-size: .75rem;
        font-weight: 500;
        flex: 1;
    }

    &__count{
        font-size: .6rem;
        padding: .1rem .3rem;
        border-radius: 20px;
        background-color: rgba(31, 173, 131, 0.1);
        color: var(--text-muted);
    }

    &__menu{
        color: var(--text-muted);
        cursor: pointer;
    }

    &__cards{
        @include m.scrollbar-hidden;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 .3rem .3rem;
        overflow-y: auto;
        gap: .5rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        app-task-card {
            display: block;
            width: 100%;
        }
    }

    &__empty{
        color: var(--text-muted);
        font-size: .7rem;
        text-align: center;
        padding: 2rem 0;
        
    }

    &__footer{
        padding: .5rem;
    }

    &__add-btn{
        @include m.flex-center;
        background: none;
        border: none;
        color: var(--text-muted);
        cursor: pointer;
        font-size: .75rem;
        gap: .3rem;
    }
}