@use './styles/tokens';
@use './styles/themes';
@use './styles/mixins';
@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

body{
    background: var(--bg-base);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin: 0;
}